.yarl__container {
  background-color: #EDDCC0 !important;
}

.yarl__slide {
  background-color: #EDDCC0 !important;
}

.yarl__portal {
  background-color: #EDDCC0 !important;
}

.yarl__root {
  background-color: #EDDCC0 !important;
}

.yarl__flex_center {
  background-color: #EDDCC0 !important;
}

.yarl__slide_image {
  background-color: #EDDCC0 !important;
}

.yarl__slide img {
  background-color: #EDDCC0 !important;
}